.home-style {
    width: 100%;
    height: 100%;
}

.landing-wrapper {
    width: 100%;
    height: 92vh;
    background: radial-gradient(transparent 70%, rgba(1, 4, 15, 255));
}

.video-style {
    width: 100%;
    max-width: 100%;
    height: 92vh;
    object-fit: cover;
    opacity: 0.2;
}

.landing-title {
    max-width: 1300pt;
    position: absolute;
    margin-top: 15vh;
}

.button-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .landing-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1500pt;
        width: 90%;
    }

    .landing-title h1 {
        letter-spacing: 1px;
        /* Increase letter-spacing to spread the text */
        line-height: 1.5;
        /* Increase line-height to create more space between lines */
    }

    .button-text {
        font-size: 14px;
    }

}